apiVersion: v1
kind: Secret
metadata:
  name: platform-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "y0ur-url",
      "access_token": "y0ur-t0k3n"
    }
